*{
  margin: 0;
  font-family: 'Lato', 'Arial','sans-serif';
  font-size: 20px;
  font-weight: 300;
  color: #555;

}

a{
  color: #e67e22;
  font-weight: 400;
}






/*======== Main Header
==========================*/
.main_header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background: pink;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/header_image.jpg');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}



.main_heading{
  margin: 48px 24px;

}

.main_heading h1
{
  font-size: 2.5em;
  /* width: 100%; */
  color: white;
  margin: 28px 0;
}
.button{
  padding: 0.6em 2.5em;
  background: none;
  border: 1px solid #e67e22;
  color: #e67e22;
  font-weight: 400;
  font-size: 1.1em;
  border-radius: 200px;
  margin-right: 10px;
}

.btn-important{
  background-color: #e67e22;
  color: white;
}

.button:hover{
  background-color: #e67e22;
  cursor: pointer;
  color: white;
}

.btn-important:hover{
  background-color: #cc6f1e;
  color: white;
}



/*======== Navigation Bar
===========================================*/
.main_logo{
  width: 100px;
  height: 100px;
  margin: 24px;
}
.main_nav{
  position: absolute;
  top: 0;

  width: calc(100vw - 5em);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 48px;
}
.main_nav ul{
  list-style: none;
  display: flex;
}
.main_nav ul a{
  color: white;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 3px;
  margin: 20px;
}
.main_nav ul a:hover{
  border-bottom: 2px solid #e67e22;
}






/*======== Food delivery section
===========================================*/
.food_delivery{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 1em);
  background: white;
  text-align: center;
}

.food_delivery > h2{
  word-spacing: 0.1em;
  font-size: 2em;
  margin: 24px;
}

.food_delivery > h2:after{

  display: block;
  width: 10%;
  margin: 24px auto;
  content: " ";
  height: 2px;
  background: #e67e22;
}


.food_delivery > p{
  max-width: 800px;
  text-align: justify;
  font-size: 1.3em;
  margin: 24px;
}

.food_delivery .cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1%;
  margin: 48px 0 ;
}
.food_delivery .card{
  flex: 0 0 24%;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

  padding: 20px;
  box-sizing: border-box;
}
.food_delivery .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.food_delivery .card img{
  width: 60px;
  height: 60px;
  font-size: 350%;
}

.food_delivery .card > h3{
  text-align: center;
  font-size: 1.1em;
  font-weight: 400;
}
.food_delivery .card > p{
  text-align: justify;
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 1.1em;
}

.food_images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.food_images .image_wrapper{
  box-sizing: border-box;
  flex: 1 0 25%;
  overflow: hidden;
  background: #111;
}
.food_images .image_wrapper img{
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: transform 0.3s ease-in,opacity 0.3s ease-in;
  transform-origin: center;
  opacity: 0.5;
  /* transform: scale(1.15); */
}

.food_images .image_wrapper img:hover{
  transform: scale(1);
  opacity: 1;

}


/********** How it WORKS section
*********************************************/
.how_it_works_container{
  background: #f6f6f6;
  padding-top: 48px;
  padding-bottom: 96px;

}
.how_it_works_container > h2{
  word-spacing: 0.1em;
  font-size: 2em;
  margin: 60px;
  text-align: center;
}

.how_it_works_container > h2:after{
  display: block;
  width: 10%;
  margin: 24px auto;
  content: " ";
  height: 2px;
  background: #e67e22;
}

.how_it_works{
  display: flex;
}
.how_it_works  .app_mobile_view_container{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
}
.how_it_works_container  .app_mobile_view_container img{
  flex-shrink: 0;
  width: 300px;
  flex-basis: 0px;
  align-self: flex-end;
  justify-content: flex-end;
  margin: 0 48px;
}
.works_steps{
  flex: 2 0 0;
  padding: 48px;
  /* background: yellow; */
}
.works_steps p{
  font-size: 1.2em;
}


.works_steps .step_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.step_container p{
  flex: 1 0 0;
  text-align: justify;
}

.works_steps  .step_container .step{
  display: inline-block;
  text-align: center;
  color: #e67e22;
  font-size: 1.5em;
  border: 2px solid #e67e22;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin: 10px 24px;
  padding: 20px 10px 5px 10px;
}

.works_steps .download_app_link_container{
  display: flex;
  margin-top: 48px;
  margin-left: 24px;
}
.download_app_link_container img{
  width: 200px;
  height: 70px;
  margin: 10px;
}





/*========== Our cites our_cites
===========================================*/
.our_cites_section{
  padding-top: 48px;
  padding-bottom: 94px;
}
.our_cites_section > h2{
  word-spacing: 0.1em;
  font-size: 2em;
  margin: 60px;
  text-align: center;
}

.our_cites_section > h2:after{
  display: block;
  width: 10%;
  margin: 24px auto;
  content: " ";
  height: 2px;
  background: #e67e22;
}


.our_cites_section .cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1%;
  margin: 48px 0 ;
}
.our_cites_section .card{
  flex: 0 0 24%;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);

  padding: 5px;
  box-sizing: border-box;
}
.our_cites_section .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.our_cites_section .card img{
  width: 100%;
  font-size: 350%;
}

.our_cites_section .card  h3{
  text-align: left;
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
}
.our_cites_section .detail_container{
  margin-top: 10px;
  margin-bottom: 30px;
}
.our_cites_section .detail_container img{
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.our_cites_section .detail_container .detail{
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
